<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Ganbaru AI</vendor>
  <vendor_url>https://github.com/opengrimoire/ganbaru-ai</vendor_url>
  <action id="org.opengrimoire.ganbaruai.manage-linking-firewall">
    <description>Manage Ganbaru AI phone connections</description>
    <description xml:lang="es">Gestionar conexiones telefónicas de Ganbaru AI</description>
    <message>Authentication is required to allow phone connections in Ganbaru AI</message>
    <message xml:lang="es">Se requiere autenticación para permitir conexiones telefónicas en Ganbaru AI</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/ganbaru-ai</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--manage-linking-firewall</annotate>
  </action>
</policyconfig>
